In [ ]:
# ans-1

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\programdata\anaconda3\lib\site-packages (4.25.0)
Requirement already satisfied: urllib3<3,>=1.26 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (2.0.7)
Requirement already satisfied: trio~=0.17 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.26.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2024.2.2)
Requirement already satisfied: typing_extensions~=4.9 in c:\programdata\anaconda3\lib\site-packages (from selenium) (4.9.0)
Requirement already satisfied: websocket-client~=1.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.8.0)
Requirement already satisfied: attrs>=23.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (24.2.0)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.16.0)
Requirement already satisfied: wsproto>=0.14 in c:\programdata\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: pysocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\programdata\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [3]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [4]:
driver = webdriver.Chrome()

In [5]:
driver.get("https://www.naukri.com/")

In [6]:
# entiring designation and location as required in the question
designation = driver.find_element(By.CLASS_NAME,"suggestor-input")

In [7]:
designation.send_keys('Data Scientist')

In [8]:
# click search on the related to designation.
search = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [10]:
# click salary range 3-6 lakhs in filter
salary_filter = driver.find_element(By.XPATH,'//span[@title="3-6 Lakhs"]').click()

In [11]:
# click location delhi/ncr lakhs in filter
filter_location = driver.find_element(By.XPATH,'//span[@title="Delhi / NCR"]').click()

In [12]:
# here create a lists job_title, job_location, company_name, experience_required.
job_title = []
job_location = []
company_name = []
experience_required = []

In [26]:
# scrap job_title from naukri.com page.
job_tags = driver.find_elements(By.XPATH,'//a[@rel="noopener noreferrer"]')
for i in job_tags[0:10]:
    title = i.text.strip()
    job_title.append(title)
    
# scrap job_location
location_tags = driver.find_elements(By.XPATH,'//span[@class="locWdth"]')
for i in location_tags[0:10]:
    location = i.text
    job_location.append(location)

# scrap company name
company_tags = driver.find_elements(By.XPATH,'//a[@class=" comp-name mw-25"]')
for i in company_tags[0:10]:
    company = i.text
    company_name.append(company)

# scrap experience required
experience_tags = driver.find_elements(By.XPATH,'//span[@class="expwdth"]')
for i in experience_tags[0:10]:
    experience = i.text
    experience_required.append(experience)

In [15]:
job_title

['Data Scientist',
 'Data Scientist',
 'Data Scientist: Artificial Intelligence',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist: Artificial Intelligence',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist']

In [16]:
job_location

['Jaipur, Delhi / NCR',
 'Saudi Arabia',
 'Pune',
 'Pune',
 'Bengaluru',
 'Bengaluru',
 'Remote',
 'Hyderabad',
 'Bengaluru',
 'Chennai',
 'Jaipur, Delhi / NCR',
 'Saudi Arabia',
 'Pune',
 'Pune',
 'Bengaluru',
 'Bengaluru',
 'Remote',
 'Hyderabad',
 'Bengaluru',
 'Chennai']

In [17]:
company_name

['Royal Cyber',
 'IBM',
 'Global Pharma Tek',
 'Kmart',
 'KAS Services',
 'Rarr Technologies',
 'Sanofi',
 'Enterprise Bot',
 'Hexacorp Technical Services',
 'Global Pharma Tek',
 'Royal Cyber',
 'IBM',
 'Global Pharma Tek',
 'Kmart',
 'KAS Services',
 'Rarr Technologies',
 'Sanofi',
 'Enterprise Bot',
 'Hexacorp Technical Services',
 'Global Pharma Tek']

In [27]:
experience_required

['4-9 Yrs',
 '8-13 Yrs',
 '5-7 Yrs',
 '5-10 Yrs',
 '3-7 Yrs',
 '3-5 Yrs',
 '14-20 Yrs',
 '2-5 Yrs',
 '2-3 Yrs',
 '6-10 Yrs',
 '4-9 Yrs',
 '8-13 Yrs',
 '5-7 Yrs',
 '5-10 Yrs',
 '3-7 Yrs',
 '3-5 Yrs',
 '14-20 Yrs',
 '2-5 Yrs',
 '2-3 Yrs',
 '6-10 Yrs']

In [ ]:
df = pd.DataFrame({'job title':job_title,'job location':job_location,'company name':company_name,'experience required':experience_required})
df

# ans- 2

In [31]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [38]:
# open the web page chrome.
driver = webdriver.Chrome()

In [39]:
#open the web page shine.
driver.get("https://www.shine.com/")

In [43]:
# enter "data analyst" in job title, skills, field
destignation = driver.find_element(By.CLASS_NAME,"form-control  ")
destignation.send_keys("Data Analyst")

In [44]:
# enter banglore in location feild
location = driver.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input')
location.send_keys('Bangalore')

In [45]:
# search according to above condition.
search = driver.find_element(By.CLASS_NAME,"searchForm_btnWrap_advance__VYBHN")
search.click()

In [46]:
# create lists for filling information
job_title = []
job_location = []
company_name = []
experience_required = []

In [47]:
# scrap first 10 job title
job_tags = driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in job_tags[0:10]:
    title = i.text.strip()
    job_title.append(title)

# scrap first10 location
location_tags = driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags[0:10]:
    location = i.text.replace('\n+8','')
    job_location.append(location)

# scrap first 10 company name
company_tags = driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_tags[0:10]:
    company = i.text
    company_name.append(company)

# scrap first 10 experience required from shine page
experience_tags = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience_tags[0:10]:
    experience = i.text
    experience_required.append(experience)

In [48]:
job_title

['team hr gsa private limited',
 'oksana enterprises',
 'alphacom systems and solutions pvt ...',
 'green clover',
 'tech turmeric it services llp hirin...',
 'shaik mohammed kaif hiring for nexg...',
 'sunil kumar',
 'flexi ventures pvt. ltd.',
 'hdfc ergo general insurance company...',
 'd2d careers pvt ltd']

In [49]:
job_location

['Bangalore',
 'Hyderabad',
 'Bangalore\n+1',
 'Mumbai City',
 'Mumbai City',
 'Bangalore\n+9',
 'Bangalore\n+5',
 'Hyderabad\n+2',
 'Kolkata',
 'Bangalore\n+1']

In [50]:
company_name

['team hr gsa private limited',
 'oksana enterprises',
 'alphacom systems and solutions pvt ...',
 'green clover',
 'tech turmeric it services llp hirin...',
 'shaik mohammed kaif hiring for nexg...',
 'sunil kumar',
 'flexi ventures pvt. ltd.',
 'hdfc ergo general insurance company...',
 'd2d careers pvt ltd']

In [51]:
experience_required

['0 to 1 Yr',
 '5 to 10 Yrs',
 '5 to 8 Yrs',
 '2 to 7 Yrs',
 '1 to 3 Yrs',
 '0 Yrs',
 '2 to 7 Yrs',
 '1 to 3 Yrs',
 '0 to 3 Yrs',
 '1 to 5 Yrs']

In [52]:
# create data frame scrap the data for the 10 job results 
df = pd.DataFrame({'job title':job_title,'job location':job_location,'company name':company_name,'experience required':experience_required})

In [53]:
df

,job title,job location,company name,experience required
0,team hr gsa private limited,Bangalore,team hr gsa private limited,0 to 1 Yr
1,oksana enterprises,Hyderabad,oksana enterprises,5 to 10 Yrs
2,alphacom systems and solutions pvt ...,Bangalore\n+1,alphacom systems and solutions pvt ...,5 to 8 Yrs
3,green clover,Mumbai City,green clover,2 to 7 Yrs
4,tech turmeric it services llp hirin...,Mumbai City,tech turmeric it services llp hirin...,1 to 3 Yrs
5,shaik mohammed kaif hiring for nexg...,Bangalore\n+9,shaik mohammed kaif hiring for nexg...,0 Yrs
6,sunil kumar,Bangalore\n+5,sunil kumar,2 to 7 Yrs
7,flexi ventures pvt. ltd.,Hyderabad\n+2,flexi ventures pvt. ltd.,1 to 3 Yrs
8,hdfc ergo general insurance company...,Kolkata,hdfc ergo general insurance company...,0 to 3 Yrs
9,d2d careers pvt ltd,Bangalore\n+1,d2d careers pvt ltd,1 to 5 Yrs

# ans.3

In [54]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [55]:
# scrap data from link  :-https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLI

In [60]:
driver = webdriver.Chrome()

In [61]:
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART')

In [62]:
Rating = []
Review_summary = []
Full_review = []

In [66]:
# scrap first 100 data rating review  full review
start = 0
end = 10
for page in range(start,end):
#scrap i phone rating
    rating_tags = driver.find_elements(By.XPATH,'//span[@class="Fig8YH"]')
    for i in rating_tags[0:100]:
        Rating.append(i.text)

# scrap first 100 i phone review
review_sm_tags = driver.find_elements(By.XPATH,'//div[@class="row j-aW8Z"]')
for i in review_sm_tags[0:100]:
    Review_summary.append(i.text)

In [64]:
Rating

['5',
 '4',
 '3',
 '2',
 '1',
 '5',
 '4',
 '3',
 '2',
 '1',
 '5',
 '4',
 '3',
 '2',
 '1',
 '5',
 '4',
 '3',
 '2',
 '1',
 '5',
 '4',
 '3',
 '2',
 '1',
 '5',
 '4',
 '3',
 '2',
 '1',
 '5',
 '4',
 '3',
 '2',
 '1',
 '5',
 '4',
 '3',
 '2',
 '1',
 '5',
 '4',
 '3',
 '2',
 '1',
 '5',
 '4',
 '3',
 '2',
 '1']

In [67]:
Review_summary

['2,05,287 Ratings &', '11,440 Reviews']